{% extends "blog/layout.html" %}
{% load static fresh_static %}   

{% block content %}
    <div class="sub_title_series1">
        <h4>
            <p>용한타로 APP</p>
        </h4>
        <a>
            <span>타로 카드 점을 볼 수 있는 어플리케이션</span>
        </a>                
    </div>           
    <div >
        <img src="{% fresh_static "img/taro.png" %}" style="width:70%;" > 
        <p class="magt20 magb20 l_s_20 f15 c3 taj l_h_24">
                <br /><br />             
        </p>
    </div>   
    <hr/> 

    <div class="sub_title_series2">
        <h4>
            <p>용한점집 APP</p>
        </h4>
        <a>
            <span>동양철학 정통 점인 주역 점을 볼 수 있는 어플리케이션</span>
        </a>                
    </div>           
    <div >
        <img src="{% fresh_static "img/jum.png" %}" style="width:70%;" > 
        <p class="magt20 magb20 l_s_20 f15 c3 taj l_h_24">
                <br /><br />             
        </p>
    </div>   
    <hr/> 
    <div class="sub_title_series3">
        <h4>
            <p>용한토정비결 APP</p>
        </h4>
        <a>
            <span>토정비결 점을 볼 수 있는 어플리케이션</span>
        </a>                
    </div>           
    <div >
        <img src="{% fresh_static "img/tojung.png" %}" style="width:70%;" > 
        <p class="magt20 magb20 l_s_20 f15 c3 taj l_h_24">
                <br /><br />             
        </p>
    </div>   
    <hr/> 
            
    <div class="sub_title_series4">
        <h4>
            <p>용한 띠별 오늘의 운세 APP</p>
        </h4>
        <a>
            <span>띠별로 오늘의 운세를 볼 수 있는 어플리케이션</span>
        </a>                
    </div>           
    <div >
        <img src="{% fresh_static "img/today.png" %}" style="width:70%;" > 
        <p class="magt20 magb20 l_s_20 f15 c3 taj l_h_24">
                <br /><br />             
        </p>
    </div>   
    <hr/> 
                
    <div class="sub_title_series5">
        <h4>
            <p>용한 별자리 운세 APP</p>
        </h4>
        <a>
            <span>별자리로 점을 볼 수 있는 어플리케이션</span>
        </a>                
    </div>           
    <div >
        <img src="{% fresh_static "img/star.png" %}" style="width:70%;" > 
        <p class="magt20 magb20 l_s_20 f15 c3 taj l_h_24">
                <br /><br />             
        </p>
    </div>   
    <hr/>         
    
    <div class="sub_title_series6">
        <h4>
            <p>용한손금 APP</p>
        </h4>
        <a>
            <span>손금을 볼 수 있는 어플리케이션</span>
        </a>                
    </div>           
    <div >
        <img src="{% fresh_static "img/son.png" %}" style="width:70%;" > 
        <p class="magt20 magb20 l_s_20 f15 c3 taj l_h_24">
                <br /><br />             
        </p>
    </div>   
    <hr/>      

    <div class="sub_title_series5">
        <h4>
            <p>용한 꿈풀이 APP</p>
        </h4>
        <a>
            <span>꿈풀이를 볼 수 있는 어플리케이션</span>
        </a>                
    </div>           
    <div >
        <img src="{% fresh_static "img/dream.png" %}" style="width:70%;" > 
        <p class="magt20 magb20 l_s_20 f15 c3 taj l_h_24">
                <br /><br />             
        </p>
    </div>   
            

{% endblock %}
