{% extends "blog/layout.html" %}
{% load static fresh_static %}   

{% block content %}
    <div class="sub_title_web1">
        <h4>
            <p>홈페이지 APP 일체형 솔루션</p>
        </h4>
        <a>
            <span>홈페이지와 APP이 서로 연동한 일체형 솔루션 </span>
        </a>        
        
    </div>   
        
    <div >
        <img src="{% fresh_static "img/web.png" %}" style="width:100%;" > 
        <p class="magt20 magb20 l_s_20 f15 c3 taj l_h_24">
                <br /><br />             
        </p>
    </div>        
    
    <a>
        <span>다양한 홈페이지 제작 </span>
    </a>
    <br /><br /> 
    
    <div >
           
        <img src="{% fresh_static "img/web1.png" %}" style="width:100%;" > 
        <p class="magt20 magb20 l_s_20 f15 c3 taj l_h_24">
                         
        </p>
    </div> 
     
    

    
    
    

{% endblock %}