{% extends "shop/layout.html" %}
{% load humanize %}

{% block content %}

    <div class="card">
        <div class="card-header">
            {{ item.name }}
            &dash; {{ item.price|intcomma }}원
        </div>
        <div class="card-body">
            {% if item.photo %}
                <img src="{{ item.photo.url }}" style="max-width: 100%;" />
            {% endif %}
      
            {% if item.desc %}
                <p>
                    {{ item.desc|linebreaks }}
                </p>
            {% endif %}
        </div>
        <div class="card-footer">
            <a href="{% url "shop:item_list" %}" class="btn btn-primary">목록</a>
            <a href="{% url "shop:item_edit" item.pk %}" class="btn btn-secondary">수정</a>
        </div>
    </div>
{% endblock %}
